/**************************/
/*                        */
/*          变量          */
/*                        */
/**************************/
/**************************/
/*                        */
/*          mixin         */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000316}}
.g-bbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000321}}
.g-listnone {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000326}}
.g-abtn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000331}}
.g-inputnone {
  outline: none;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000336}}
.g-clear {
  content: '';
  clear: both;
}
/**************************/
/*                        */
/*          body          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000346}}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #5c5c5c;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
/**************************/
/*                        */
/*         toolbar        */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000358}}
#toolbar {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffe43c;
  /*#toobar-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000366}}
#toolbar #toolbar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 16px;
  /*#navigation*/
  /*#logo*/
  /*#userinfo*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000374}}
#toolbar #toolbar-container #navigation {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 16px;
  /*a.back-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000381}}
#toolbar #toolbar-container #navigation a.back-btn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  width: 100%;
  height: 100%;
  color: #484848;
  font-size: 20px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000392}}
#toolbar #toolbar-container #logo {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 50%;
  margin-left: -16px;
  margin: 0;
  border-radius: 50%;
  border: 4px #484848 solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003104}}
#toolbar #toolbar-container #userinfo {
  position: absolute;
  width: 300px;
  height: 32px;
  top: 16px;
  right: 16px;
  /*.search-input*/
  /*.user-avator*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003111}}
#toolbar #toolbar-container #userinfo:after {
  content: '';
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003115}}
#toolbar #toolbar-container #userinfo .search-input {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border-radius: 4px;
  height: 32px;
  width: 150px;
  padding: 10px;
  font-size: 12px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003128}}
#toolbar #toolbar-container #userinfo .user-avator {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  background-color: #ffffff;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
}
/* #toolbar */
/**************************/
/*                        */
/*          page          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003151}}
#page {
  position: fixed;
  background-color: #5c5c5c;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  /*#page-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003159}}
#page #page-container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /**************************/
  /*                        */
  /*        todo-list       */
  /*                        */
  /**************************/
  /*#todo-list*/
  /**************************/
  /*                        */
  /*        timeline        */
  /*                        */
  /**************************/
  /*#timeline*/
  /**************************/
  /*                        */
  /*      follow-list       */
  /*                        */
  /**************************/
  /*#follow-list*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003170}}
#page #page-container #todo-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  width: 290px;
  top: 0;
  bottom: 0;
  left: 0;
  /*.add-todo-input*/
  /*#todo-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003181}}
#page #page-container #todo-list .add-todo-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  background-color: #4a4a4a;
  border-radius: 4px;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003191}}
#page #page-container #todo-list #todo-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*.todo-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003194}}
#page #page-container #todo-list #todo-list-ul .todo-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 4px;
  background-color: #4a4a4a;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003213}}
#page #page-container #timeline {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 290px;
  width: 588px;
  height: 100%;
  float: left;
  background-color: #e6e6e6;
  padding: 16px;
  /*#timeline-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003225}}
#page #page-container #timeline #timeline-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*.timeline-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003228}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
  /*.timeline-list-item-avator*/
  /*.timeline-list-item-author*/
  /*.timeline-list-item-time*/
  /*.timeline-list-item-content*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003238}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-avator {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003247}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-author {
  position: absolute;
  font-size: 12px;
  top: 16px;
  left: 68px;
  right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003255}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-time {
  position: absolute;
  font-size: 12px;
  top: 32px;
  left: 68px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003262}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-content {
  position: absolute;
  top: 68px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003277}}
#page #page-container #follow-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  float: left;
  padding: 16px;
  /*follow-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003289}}
#page #page-container #follow-list #follow-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*follow-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003292}}
#page #page-container #follow-list #follow-list-ul .follow-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 4px;
  background-color: #4a4a4a;
  margin-bottom: 16px;
}
/*page*/
