/**************************/
/*                        */
/*          变量          */
/*                        */
/**************************/
/**************************/
/*                        */
/*          mixin         */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000328}}
.g-bbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000333}}
.g-listnone {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000338}}
.g-abtn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000343}}
.g-inputnone {
  outline: none;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000348}}
.g-clear {
  content: '';
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000353}}
.g-ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/**************************/
/*                        */
/*          icon          */
/*                        */
/**************************/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-xtde5a');
  src: url('fonts/icomoon.eot?#iefix-xtde5a') format('embedded-opentype'), url('fonts/icomoon.woff?-xtde5a') format('woff'), url('fonts/icomoon.ttf?-xtde5a') format('truetype'), url('fonts/icomoon.svg?-xtde5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000376}}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000390}}
.icon-ribbon:before {
  content: "\e009";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000393}}
.icon-search:before {
  content: "\e036";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000396}}
.icon-repeat:before {
  content: "\e058";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000399}}
.icon-reload:before {
  content: "\e080";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003102}}
.icon-share:before {
  content: "\e081";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003105}}
.icon-arrow-left:before {
  content: "\e094";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003108}}
.icon-trash:before {
  content: "\e109";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003111}}
.icon-plus:before {
  content: "\e114";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003114}}
.icon-check:before {
  content: "\e116";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003117}}
.icon-cross:before {
  content: "\e117";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003120}}
.icon-ellipsis:before {
  content: "\e129";
}
/**************************/
/*                        */
/*          body          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003130}}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #414141;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003137}}
::-webkit-scrollbar {
  display: none;
}
/**************************/
/*                        */
/*         toolbar        */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003146}}
#toolbar {
  z-index: 9999;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffe43c;
  /*#toobar-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003155}}
#toolbar #toolbar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 16px;
  /*#navigation*/
  /*#logo*/
  /*#userinfo*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003163}}
#toolbar #toolbar-container #navigation {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 16px;
  /*a.back-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003170}}
#toolbar #toolbar-container #navigation a.back-btn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  width: 100%;
  height: 100%;
  color: #484848;
  font-size: 20px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003181}}
#toolbar #toolbar-container #logo {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 50%;
  margin-left: -16px;
  margin: 0;
  border-radius: 50%;
  border: 4px #484848 solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003193}}
#toolbar #toolbar-container #userinfo {
  position: absolute;
  width: 300px;
  height: 32px;
  top: 16px;
  right: 16px;
  /*.search-input*/
  /*.user-avator*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003200}}
#toolbar #toolbar-container #userinfo:after {
  content: '';
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003204}}
#toolbar #toolbar-container #userinfo .search-input {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border-radius: 4px;
  height: 32px;
  width: 150px;
  padding: 10px;
  font-size: 12px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003217}}
#toolbar #toolbar-container #userinfo .user-avator {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  background-color: #ffffff;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
}
/* #toolbar */
/**************************/
/*                        */
/*          page          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003240}}
#page {
  position: fixed;
  background-color: #414141;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  /*#page-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003248}}
#page #page-container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /**************************/
  /*                        */
  /*        todo-list       */
  /*                        */
  /**************************/
  /*#todo-list*/
  /**************************/
  /*                        */
  /*        timeline        */
  /*                        */
  /**************************/
  /*#timeline*/
  /**************************/
  /*                        */
  /*      follow-list       */
  /*                        */
  /**************************/
  /*#follow-list*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003259}}
#page #page-container #todo-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  width: 290px;
  top: 0;
  bottom: 0;
  left: 0;
  /*.add-todo-input*/
  /*#todo-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003270}}
#page #page-container #todo-list .add-todo-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  background-color: #353535;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 17px;
  font-size: 14px;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003283}}
#page #page-container #todo-list #todo-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*.todo-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003286}}
#page #page-container #todo-list #todo-list-ul .todo-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  padding: 16px;
  border-radius: 4px;
  background-color: #505050;
  margin-bottom: 16px;
  /*.todo-list-item-checkbox*/
  /*.todo-list-item-content*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003295}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-checkbox {
  float: left;
  width: 24px;
  height: 24px;
  background-color: #3c3c3c;
  border-radius: 4px;
  margin-right: 16px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003304}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content {
  float: left;
  width: 180px;
  /*.todo-list-item-title*/
  /*.todo-list-item-desc*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003307}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content .todo-list-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003315}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content .todo-list-item-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #969696;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003334}}
#page #page-container #timeline {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 290px;
  width: 588px;
  height: 100%;
  float: left;
  background-color: #dcdcdc;
  padding: 16px;
  /*#timeline-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003346}}
#page #page-container #timeline #timeline-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 100%;
  /*.timeline-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003351}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
  /*.timeline-list-info*/
  /*.timeline-list-item-content*/
  /*timeline-list-btns*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003360}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info {
  width: 100%;
  height: 52px;
  margin-bottom: 16px;
  /*.timeline-list-item-avator*/
  /*.timeline-list-item-author*/
  /*.timeline-list-item-time*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003365}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-avator {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003374}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  color: #969696;
  font-size: 14px;
  top: 16px;
  left: 68px;
  right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003385}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  font-size: 12px;
  top: 34px;
  left: 68px;
  color: #d2d2d2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003395}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  height: auto;
  color: #969696;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003406}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns {
  height: 48px;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /*timeline-mark-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003413}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  width: 32px;
  height: 32px;
  background-color: #d2d2d2;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003420}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn span:before {
  content: "\e009";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003428}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item-new-li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  color: #969696;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003444}}
#page #page-container #follow-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  float: left;
  padding: 16px;
  /*follow-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003456}}
#page #page-container #follow-list #follow-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*follow-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003459}}
#page #page-container #follow-list #follow-list-ul .follow-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  padding: 16px;
  border-radius: 4px;
  background-color: #505050;
  margin-bottom: 16px;
  /*.follow-list-avator-a*/
  /*.follow-list-info*/
  /*.follow-list-add-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003468}}
#page #page-container #follow-list #follow-list-ul .follow-list-item:after {
  content: '';
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003472}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-avator-a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  float: left;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003481}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-avator-a img {
  width: 36px;
  height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003488}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info {
  float: left;
  color: #ffffff;
  width: 122px;
  /*.follow-list-name*/
  /*.follow-list-desc*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003493}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info .follow-list-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003502}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info .follow-list-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003512}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-add-btn {
  background-color: #ffe43c;
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  float: right;
}
/*page*/
