/**************************/
/*                        */
/*          变量          */
/*                        */
/**************************/
/**************************/
/*                        */
/*          mixin         */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000328}}
.g-bbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000333}}
.g-listnone {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000338}}
.g-abtn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000345}}
.g-inputnone {
  outline: none;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000350}}
.g-clear {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000356}}
.g-ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000362}}
.g-tran {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/**************************/
/*                        */
/*          icon          */
/*                        */
/**************************/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?#iefix-xtde5a') format('embedded-opentype'), url('../fonts/icomoon.woff?-xtde5a') format('woff'), url('../fonts/icomoon.ttf?-xtde5a') format('truetype'), url('../fonts/icomoon.svg?-xtde5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000383}}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\0000397}}
.icon-ribbon:before {
  content: "\e009";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003100}}
.icon-search:before {
  content: "\e036";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003103}}
.icon-repeat:before {
  content: "\e058";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003106}}
.icon-reload:before {
  content: "\e080";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003109}}
.icon-share:before {
  content: "\e081";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003112}}
.icon-arrow-left:before {
  content: "\e094";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003115}}
.icon-trash:before {
  content: "\e109";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003118}}
.icon-plus:before {
  content: "\e114";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003121}}
.icon-check:before {
  content: "\e116";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003124}}
.icon-cross:before {
  content: "\e117";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003127}}
.icon-ellipsis:before {
  content: "\e129";
}
/**************************/
/*                        */
/*          body          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003137}}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #414141;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003144}}
::-webkit-scrollbar {
  display: none;
}
/**************************/
/*                        */
/*         toolbar        */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003153}}
#toolbar {
  z-index: 9999;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffe43c;
  /*#toobar-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003162}}
#toolbar #toolbar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 16px;
  /*#navigation*/
  /*#logo*/
  /*#details-btns*/
  /*#userinfo*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003170}}
#toolbar #toolbar-container #navigation {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 16px;
  /*a.back-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003177}}
#toolbar #toolbar-container #navigation a.back-btn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  width: 100%;
  height: 100%;
  color: #484848;
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003186}}
#toolbar #toolbar-container #navigation a.back-btn span:before {
  content: '\e094';
  font-family: 'icomoon';
  font-size: 20px;
  color: #505050;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003198}}
#toolbar #toolbar-container #logo {
  position: absolute;
  width: 164px;
  height: 26px;
  top: 20px;
  left: 50%;
  margin: 0;
  margin-left: -82px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 164px 26px;
  background-size: 164px 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003211}}
#toolbar #toolbar-container #details-btns {
  position: absolute;
  width: 144px;
  height: 32px;
  top: 16px;
  right: 16px;
  /*a*/
  /*.details-share-btn*/
  /*details-retweet-btn*/
  /*.details-mark-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003218}}
#toolbar #toolbar-container #details-btns:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003222}}
#toolbar #toolbar-container #details-btns a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 6px;
  float: right;
  margin-left: 16px;
  /*span*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003231}}
#toolbar #toolbar-container #details-btns a span:before {
  font-size: 20px;
  color: #414141;
  font-family: 'icomoon';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003239}}
#toolbar #toolbar-container #details-btns .details-share-btn span:before {
  content: '\e081';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003244}}
#toolbar #toolbar-container #details-btns .details-retweet-btn {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003246}}
#toolbar #toolbar-container #details-btns .details-retweet-btn span:before {
  content: '\e039';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003252}}
#toolbar #toolbar-container #details-btns .details-mark-btn span:before {
  content: '\e009';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003259}}
#toolbar #toolbar-container #userinfo {
  position: absolute;
  width: 198px;
  height: 32px;
  top: 16px;
  right: 16px;
  /*.search-input*/
  /*.search-btn*/
  /*.user-avator*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003266}}
#toolbar #toolbar-container #userinfo:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003270}}
#toolbar #toolbar-container #userinfo .search-input {
  position: relative;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border-radius: 4px;
  height: 32px;
  width: 150px;
  padding: 10px;
  padding-left: 40px;
  font-size: 12px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003285}}
#toolbar #toolbar-container #userinfo .search-input:focus,
#toolbar #toolbar-container #userinfo .search-input:active {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003292}}
#toolbar #toolbar-container #userinfo .search-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  width: 32px;
  height: 32px;
  padding: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003300}}
#toolbar #toolbar-container #userinfo .search-btn:before {
  content: '\e036';
  width: 32px;
  height: 32px;
  color: #414141;
  font-size: 18px;
  font-family: 'icomoon';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003311}}
#toolbar #toolbar-container #userinfo .user-avator {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  background-color: #ffffff;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
}
/* #toolbar */
/**************************/
/*                        */
/*          page          */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003334}}
#page {
  position: fixed;
  background-color: #414141;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  /*#page-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003342}}
#page #page-container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /**************************/
  /*                        */
  /*        todo-list       */
  /*                        */
  /**************************/
  /*#todo-list*/
  /**************************/
  /*                        */
  /*        timeline        */
  /*                        */
  /**************************/
  /*#timeline*/
  /**************************/
  /*                        */
  /*      follow-list       */
  /*                        */
  /**************************/
  /*#follow-list*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003353}}
#page #page-container #todo-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  width: 290px;
  top: 0;
  bottom: 0;
  left: 0;
  /*.add-todo-input*/
  /*#todo-list-ul*/
  /*.todo-list-show-finished*/
  /*.todo-list-finished-items*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003364}}
#page #page-container #todo-list .add-todo-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  background-color: #353535;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 17px;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003378}}
#page #page-container #todo-list .add-todo-input:focus,
#page #page-container #todo-list .add-todo-input:active {
  background-color: #2d2d2d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003385}}
#page #page-container #todo-list #todo-list-ul,
#page #page-container #todo-list .todo-list-finished-items {
  list-style: none;
  padding: 0;
  margin: 0;
  /*.todo-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003388}}
#page #page-container #todo-list #todo-list-ul .todo-list-item,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  padding: 16px;
  border-radius: 4px;
  background-color: #505050;
  margin-bottom: 16px;
  cursor: pointer;
  /*.checked .todo-list-item-checkbox:before*/
  /*.todo-list-item-title*/
  /*.todo-list-item-checkbox*/
  /*.todo-list-item-content*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003398}}
#page #page-container #todo-list #todo-list-ul .todo-list-item.checked,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item.checked {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003403}}
#page #page-container #todo-list #todo-list-ul .todo-list-item.checked .todo-list-item-checkbox:before,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item.checked .todo-list-item-checkbox:before {
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  content: '\e116';
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  font-family: 'icomoon';
  font-size: 20px;
  color: #414141;
  background-color: #ffe43c;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003419}}
#page #page-container #todo-list #todo-list-ul .todo-list-item.checked .todo-list-item-title,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item.checked .todo-list-item-title,
#page #page-container #todo-list #todo-list-ul .todo-list-item.checked .todo-list-item-desc,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item.checked .todo-list-item-desc {
  text-decoration: line-through;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003424}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-checkbox,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-checkbox {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  float: left;
  width: 24px;
  height: 24px;
  background-color: #3c3c3c;
  border-radius: 4px;
  margin-right: 16px;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003435}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-checkbox:hover,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-checkbox:hover {
  background-color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003442}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-content {
  float: left;
  width: 180px;
  /*.todo-list-item-title*/
  /*.todo-list-item-desc*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003445}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content .todo-list-item-title,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-content .todo-list-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003453}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content .todo-list-item-title strong,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-content .todo-list-item-title strong {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003457}}
#page #page-container #todo-list #todo-list-ul .todo-list-item .todo-list-item-content .todo-list-item-desc,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item .todo-list-item-content .todo-list-item-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #969696;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003468}}
#page #page-container #todo-list .todo-list-show-finished {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 24px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 16px;
  color: #2a2a2a;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003486}}
#page #page-container #todo-list .todo-list-show-finished:hover {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003493}}
#page #page-container #todo-list .todo-list-finished-items {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  opacity: 0;
  /*.todo-list-item-desc,.todo-list-item-title*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003498}}
#page #page-container #todo-list .todo-list-finished-items .todo-list-item-desc,
#page #page-container #todo-list .todo-list-finished-items .todo-list-item-title {
  text-decoration: line-through;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003503}}
#page #page-container #todo-list .todo-list-finished-items .todo-list-item-checkbox:before {
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  content: '\e116';
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  font-family: 'icomoon';
  font-size: 20px;
  color: #595959;
  background-color: #343434;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003530}}
#page #page-container #timeline {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 290px;
  width: 588px;
  height: 100%;
  float: left;
  padding: 16px;
  /*#timeline-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003541}}
#page #page-container #timeline #timeline-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  /*.timeline-list-item*/
  /*.timeline-list-loadmore*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003545}}
#page #page-container #timeline #timeline-list-ul:first-child {
  margin-top: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003549}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
  /*.timeline-list-info*/
  /*.timeline-list-item-image*/
  /*.timeline-list-item-content*/
  /*timeline-list-btns*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003558}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info {
  width: 100%;
  height: 52px;
  margin-bottom: 8px;
  /*.timeline-list-item-avator*/
  /*.timeline-list-item-author*/
  /*.timeline-list-item-time*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003563}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-avator {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003572}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  color: #969696;
  font-size: 14px;
  top: 16px;
  left: 68px;
  right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003583}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-info .timeline-list-item-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  font-size: 12px;
  top: 34px;
  left: 68px;
  color: #d2d2d2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003593}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-image {
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003597}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-image img {
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003604}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.8em;
  width: 100%;
  height: auto;
  color: #969696;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003619}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-content:hover {
  background-color: #f8f8f8;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003623}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-item-content strong {
  display: block;
  margin-bottom: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003629}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns {
  height: 48px;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /*.timeline-mark-btn,.timeline-retweet-btn,.timeline-share-btn*/
  /*.timeline-mark-btn*/
  /*.timeline-retweet-btn*/
  /*.timeline-retweet-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003636}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003640}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn,
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-retweet-btn,
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-share-btn {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  color: #969696;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003648}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn span,
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-retweet-btn span,
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-share-btn span {
  font-size: 18px;
  font-family: 'icomoon';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003655}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn {
  margin-right: 8px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003658}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-mark-btn span:before {
  content: '\e009';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003663}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-retweet-btn {
  display: none;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003666}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-retweet-btn span:before {
  content: '\e039';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003671}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-share-btn {
  margin-left: 8px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003674}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item .timeline-list-btns .timeline-share-btn span:before {
  content: '\e081';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003683}}
#page #page-container #timeline #timeline-list-ul .timeline-list-item-new-li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  color: #969696;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003691}}
#page #page-container #timeline #timeline-list-ul .timeline-list-loadmore {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  background: none;
  background-image: url(../images/loading-bars.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  background-position: center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003709}}
#page #page-container #follow-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  float: left;
  padding: 16px;
  /*follow-list-ul*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003721}}
#page #page-container #follow-list #follow-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*follow-list-item*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003724}}
#page #page-container #follow-list #follow-list-ul:first-child {
  margin-top: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003728}}
#page #page-container #follow-list #follow-list-ul .follow-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  padding: 16px;
  border-radius: 4px;
  background-color: #505050;
  margin-bottom: 16px;
  /*.follow-list-avator-a*/
  /*.follow-list-info*/
  /*.follow-list-add-btn*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003737}}
#page #page-container #follow-list #follow-list-ul .follow-list-item:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003741}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-avator-a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  float: left;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003750}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-avator-a img {
  width: 36px;
  height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003757}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info {
  float: left;
  color: #ffffff;
  width: 122px;
  /*.follow-list-name*/
  /*.follow-list-desc*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003762}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info .follow-list-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003771}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-info .follow-list-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003781}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-add-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 7px;
  background-color: #ffe43c;
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003793}}
#page #page-container #follow-list #follow-list-ul .follow-list-item .follow-list-add-btn span:before {
  content: '\e114';
  font-family: 'icomoon';
  color: #414141;
  font-size: 14px;
}
/*page*/
/**************************/
/*                        */
/*        overlay         */
/*                        */
/**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003816}}
#overlay {
  display: none;
  position: absolute;
  top: 64px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /*#details-container*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003827}}
#overlay #details-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  width: 876px;
  margin-left: -438px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /*#details-prev-btn*/
  /*#details-next-btn*/
  /*#details-content*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003838}}
#overlay #details-container:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003842}}
#overlay #details-container #details-prev-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 144px;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003851}}
#overlay #details-container #details-prev-btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003856}}
#overlay #details-container #details-prev-btn span {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003867}}
#overlay #details-container #details-prev-btn span:before {
  content: '\e601';
  font-family: 'icomoon';
  font-size: 24px;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003875}}
#overlay #details-container #details-next-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 144px;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003885}}
#overlay #details-container #details-next-btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003890}}
#overlay #details-container #details-next-btn span {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003901}}
#overlay #details-container #details-next-btn span:before {
  content: '\e600';
  font-family: 'icomoon';
  font-size: 24px;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003909}}
#overlay #details-container #details-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 588px;
  left: 50%;
  margin-left: -294px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  /*#details-title*/
  /*#details-info*/
  /*#details-main*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003921}}
#overlay #details-container #details-content #details-title {
  margin-left: 24px;
  padding-right: 24px;
  padding-left: 16px;
  border-left: 8px #e8e8e8 solid;
  margin-top: 36px;
  color: #414141;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003930}}
#overlay #details-container #details-content #details-info {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
  /*.details-avator*/
  /*#detials-source*/
  /*#detials-time*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003935}}
#overlay #details-container #details-content #details-info:after {
  content: '';
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003939}}
#overlay #details-container #details-content #details-info .details-avator {
  float: left;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-user-selected: none;
  user-selected: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 24px;
  margin-top: -1px;
  background-color: #d2d2d2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003949}}
#overlay #details-container #details-content #details-info .details-avator img {
  width: 16px;
  height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003955}}
#overlay #details-container #details-content #details-info #detials-source {
  float: left;
  font-size: 12px;
  color: #d2d2d2;
  cursor: pointer;
  margin-right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003964}}
#overlay #details-container #details-content #details-info #detials-time {
  float: left;
  color: #d2d2d2;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003972}}
#overlay #details-container #details-content #details-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #414141;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.8em;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003982}}
#overlay #details-container #details-content #details-main p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #414141;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.8em;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003993}}
#overlay #details-container #details-content #details-main img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/illusate\/Github\/excited-frontend\/html\/css\/excited\.less}line{font-family:\00003998}}
#overlay #details-container #details-content #details-main a {
  color: #969696;
}
/*#overlay*/
