<!DOCTYPE html>
<html lang="en" ng-app="excited">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/excited.css">
  <link rel="stylesheet" href="css/excited-animation.css">
  <link rel="stylesheet" href="css/excoted-extra.css">
  <script src="js/lib/jquery-2.1.1.min.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app/excited-api.js"></script>
  <script src="js/app/excited-toolbar.js"></script>
  <script src="js/app/excited-timeline.js"></script>
  <script src="js/app/excited-todo.js"></script>
  <script src="js/app/excited-follow.js"></script>
  <script src="js/app/excited-ui.js"></script>
</head>
<body ng-controller="main">
  <div id="main-container">
    <div id="overlay">
      <div id="warning">
        <h3>Please login.</h3>
        <p>Redirecting to login page in <span id="second"></span>s.</p>
      </div>
    </div>
    <div id="toolbar" ng-controller="toolbar">
      <div id="toolbar-container">
        <div id="navigation">
          <a class="back-btn" href="#"></a>
        </div>
        <h1 id="logo"></h1>
        <div id="userinfo">
          <a class="user-avator" href="#" style="background-image: url({{ userInfo.avator }})"></a>
          <input class="search-input" type="search">
          <div class="search-btn"></div>
        </div>
      </div>
    </div>
    <div id="page">
      <div id="page-container">
        <div id="todo-list" ng-controller="todo-list">
          <input class="add-todo-input" type="text" ng-keyup="addNewTodo()" ng-model="newTodoText">
          <ul id="todo-list-ul">
            <li class="todo-list-item {{ list.class }}" ng-repeat="list in lists">
              <a href="#" class="todo-list-item-checkbox"></a>
              <div class="todo-list-item-content">
                <p class="todo-list-item-title">{{ list.title }}</p>
                <span class="todo-list-item-desc">{{ list.desc }}</span>
              </div>
            </li>
          </ul>
        </div>
        <div id="timeline">
          <ul id="timeline-list-ul" class="{{ classUlShow }}" ng-controller="timeline-list">
            <li id="{{ list.id }}" class="timeline-list-item {{ list.class }}" ng-repeat="list in lists">
              <div ng-if="list.class == 'timeline-list-item-li'">
                <div class="timeline-list-info">
                  <img class='timeline-list-item-avator' ng-model="list.avatorSrc" src="{{ list.avatorSrc || '' }}">
                  <a class='timeline-list-item-author' href='#'>{{ list.author }}</a>
                  <span class='timeline-list-item-time'>{{ list.time }}</span>
                </div>
                <img class="timeline-list-item-image" src="{{ list.image }}" ng-if="list.image">
                <div href="#" class='timeline-list-item-content'><strong ng-if="list.title">{{ list.title }} </strong>{{ list.content }}</div>
                <div class="timeline-list-btns">
                  <a href='#' class='timeline-mark-btn' ng-click="markItem(list.id)"><span></span></a>
                  <a href='#' class='timeline-share-btn'><span></span></a>
                  <a href='#' class='timeline-retweet-btn'><span></span></a>
                </div>
              </div>
              <div ng-if="list.class == 'timeline-list-item-new-li'">
                {{ list.html }}
              </div>
            </li>
            <li class="timeline-list-item timeline-list-loadmore">Load old excitements!</li>
          </ul>
        </div>
        <div id="follow-list">
          <ul id="follow-list-ul" ng-controller="follow-list">
            <li class="follow-list-item {{ list.class }}" ng-repeat="list in lists">
              <a class="follow-list-avator-a" href="#"><img class="follow-list-avator" src="{{ list.avator || '' }}"></a>
              <div class="follow-list-info">
                <p class="follow-list-name">{{ list.name }}</p>
                <span class="follow-list-desc">{{ list.desc }}</span>
              </div>
              <div class="follow-list-add-btn"><span></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="js/app/excited.js"></script>
</body>
</html>