<!DOCTYPE html>
<html lang="en" ng-app="excited">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/excited.css">
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app/excited-api.js"></script>
  <script src="js/app/excited-toolbar.js"></script>
  <script src="js/app/excited-timeline.js"></script>
  <script src="js/app/excited-todo.js"></script>
  <script src="js/app/excited-follow.js"></script>
</head>
<body ng-controller="main">
  <div id="main-container">
    <div id="toolbar" ng-controller="toolbar">
      <div id="toolbar-container">
        <div id="navigation">
          <a class="back-btn" href="#">&lt;</a>
        </div>
        <h1 id="logo"></h1>
        <div id="userinfo">
          <a class="user-avator" href="#" style="background-image: url({{ userInfo.avator }})"></a>
          <input class="search-input" type="search">
        </div>
      </div>
    </div>
    <div id="page">
      <div id="page-container">
        <div id="todo-list">
          <input class="add-todo-input" type="text"><a class="add-todo-btn" href="#">Add</a>
          <ul id="todo-list-ul" ng-controller="todo-list">
            <li class="todo-list-item {{ list.class }}" ng-repeat="list in lists">{{ list.html }}</li>
          </ul>
        </div>
        <div id="timeline">
          <ul id="timeline-list-ul" ng-controller="timeline-list">
            <li class="timeline-list-item {{ list.class }}" ng-repeat="list in lists">{{ list.html }}</li>
          </ul>
        </div>
        <div id="follow-list">
          <ul id="follow-list-ul" ng-controller="follow-list">
            <li class="follow-list-item {{ list.class }}" ng-repeat="list in lists">{{ list.html }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="js/app/excited.js"></script>
</body>
</html>